body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header{
  background: linear-gradient(135deg, #363636, #000000);
  height: 5em;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  h1{
    font-size: 3rem;
    color: #ffffff;
    font-family: Verdana;
  }
}